/*Null*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --index: calc(1vw + 1vh);
}

html,
body {
  height: 100%;
}

body {
  line-height: 171.4285714286%;
  font-family: "Open Sans";
  font-size: 14px;
  color: #335E74;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: 80% 80%;
  overflow: hidden;
}

.title {
  font-weight: 600;
  line-height: 133.5%;
  letter-spacing: 0.045em;
  color: #264A51;
  font-size: 46px;
  text-align: center;
}

.subtitle {
  font-size: 15px;
  line-height: 172.68%;
  letter-spacing: 0.045em;
  font-size: 20px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 143px;
  height: 43px;
  border: 2px solid #264A51;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 0.045em;
  color: #264A51;
  line-height: 135.7142857143%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background: #264A51;
  color: #FFF;
}

.wrapper {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .header-main {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition-property: left, -webkit-transform;
  transition-property: left, -webkit-transform;
  -o-transition-property: transform, left;
  transition-property: transform, left;
  transition-property: transform, left, -webkit-transform;
  -webkit-transition-duration: 0.8s, 0.3s;
       -o-transition-duration: 0.8s, 0.3s;
          transition-duration: 0.8s, 0.3s;
  -webkit-transition-delay: 0.8s, 0s;
       -o-transition-delay: 0.8s, 0s;
          transition-delay: 0.8s, 0s;
  -webkit-transition-timing-function: ease, ease;
       -o-transition-timing-function: ease, ease;
          transition-timing-function: ease, ease;
}

.wrapper._loaded .panel-body {
  -webkit-transition: -webkit-transform 0.6s ease 0.8s;
  transition: -webkit-transform 0.6s ease 0.8s;
  -o-transition: transform 0.6s ease 0.8s;
  transition: transform 0.6s ease 0.8s;
  transition: transform 0.6s ease 0.8s, -webkit-transform 0.6s ease 0.8s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.wrapper._free .page {
  overflow: visible;
  position: static;
  height: auto;
}

.wrapper._free .page__screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper._free .block {
  padding-top: 80px;
  padding-bottom: 40px;
}

.wrapper._free .block__wrapper {
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  gap: 40px;
}

.wrapper._free .block .block__info-block {
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.wrapper._free .block .block__info-block {
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.wrapper._free .block .body-right {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.wrapper._free .block .block__image {
  margin: 0;
}

.wrapper._free .deal {
  padding-top: 75px;
  padding-bottom: 75px;
}

.wrapper._free .deal .deal__info-block {
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.wrapper._free .subscribe {
  padding-top: 75px;
  padding-bottom: 75px;
}

.wrapper._free .footer__decor {
  display: none;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.page__screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.block {
  padding-right: 100px;
  padding-left: 100px;
  background: #f3f3f3;
}

.block__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 48%;
  grid-template-columns: 48% 48%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 75px;
  max-width: 2000px;
  padding: 0 15px;
  height: 100%;
  margin: auto;
}

.block.swiper-slide-prev .block__info-block {
  -webkit-transition: all 0s ease 0.4s;
  -o-transition: all 0s ease 0.4s;
  transition: all 0s ease 0.4s;
  -webkit-transform: translate(0, 150px);
      -ms-transform: translate(0, 150px);
          transform: translate(0, 150px);
  opacity: 0;
}

.block.swiper-slide-active .block__info-block {
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.block.swiper-slide-next .block__info-block {
  -webkit-transition: all 0s ease 0.4s;
  -o-transition: all 0s ease 0.4s;
  transition: all 0s ease 0.4s;
  -webkit-transform: translate(0, -150px);
      -ms-transform: translate(0, -150px);
          transform: translate(0, -150px);
  opacity: 0;
}

.block__body {
  overflow: hidden;
}

.block__body.body-left {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.block__body.body-left .block__image {
  margin-left: 64.5px;
}

.block__body.body-right .block__image {
  margin-right: 64.5px;
}

.block__decor {
  position: relative;
  max-width: 700px;
  max-height: 700px;
  overflow: hidden;
  margin: 0 auto;
}

.block__image {
  padding-bottom: 70%;
}

.block__category {
  position: absolute;
  bottom: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(113, 179, 198, 0.85);
  border-radius: 3px;
  font-family: Mukta;
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.045em;
  color: #ffffff;
  height: 148px;
  width: 129px;
}

.block__category.category-left {
  left: 0;
}

.block__category.category-right {
  right: 0;
}

.block__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.block__title {
  margin-bottom: 50px;
}

.block__subtitle {
  max-width: 475px;
  margin-bottom: 100px;
}

.simplebar-track {
  background: #b6dcff;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.simplebar-track .simplebar-scrollbar::before {
  background: #002a32;
  border-radius: 6px;
  width: 6px;
  opacity: 1;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 165px;
  grid-template-columns: 165px;
  position: relative;
  z-index: 2;
}

.header-main {
  background: #002a32;
  text-align: center;
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  overflow: auto;
  z-index: 100;
}

.header-main__logo {
  display: block;
  padding: 20px;
}

.header-main__logo svg {
  width: 95px;
  height: 43px;
  fill: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-main__logo:hover svg {
  fill: #b6dcff;
}

.header-main__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 20px;
}

.header-main__item:hover {
  background: #3c6c7f;
}

.header-main__item:hover .header-main__icon svg {
  fill: #b6ddff;
}

.header-main__item:hover .header-main__label {
  color: #b6dcff;
}

.header-main__icon svg {
  width: 33px;
  height: 30px;
  fill: #cad3db;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-main__label {
  font-size: 15px;
  line-height: 153.3333333333%;
  letter-spacing: 0.045em;
  color: #8999a1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: lowercase;
}

.header-main__label::first-letter {
  text-transform: uppercase;
}

.body-main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  min-width: 0;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.body-main._active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(93, 155, 201, 0.69);
  z-index: 10;
}

.panel-body {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.panel-body__burger {
  display: none;
}

.panel-body__personality,
.panel-body__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  gap: 25px;
}

.panel-body__personality {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 250px;
}

.panel-body__personality .panel-body__item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.panel-body__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

.panel-body__icon {
  height: 17px;
}

.panel-body__icon svg {
  width: 15px;
  height: 17px;
  fill: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.panel-body__label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: -0.04em;
  color: #3e5860;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}

.panel-body__count {
  font-weight: 600;
  font-size: 8px;
  line-height: 137.5%;
  letter-spacing: -0.02em;
  color: #dd6060;
}

.swiper-main.swiper {
  height: 100%;
}

.swiper-main__wrapper.swiper-wrapper {
  height: 100%;
}

.swiper-main__slide.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.swiper-main__slide.swiper-slide:first-child .swiper-main__background {
  background-position: 70% 40%;
}

.swiper-main__background {
  height: 101%;
}

.swiper-main__info {
  position: relative;
  z-index: 2;
  max-width: 394px;
  margin-left: 350px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.527);
}

.swiper-main__title:not(:last-child) {
  margin-bottom: 26px;
}

.swiper-main__pagination.swiper-pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: transparent;
  border: 1px solid #677f8b;
  opacity: 1;
}

.swiper-main__pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #677f8b;
}

.deal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  margin-top: -2px;
}

.deal.swiper-slide-prev .deal__info-block {
  -webkit-transition: all 0s ease 0.4s;
  -o-transition: all 0s ease 0.4s;
  transition: all 0s ease 0.4s;
  -webkit-transform: translate(0, 150px);
      -ms-transform: translate(0, 150px);
          transform: translate(0, 150px);
  opacity: 0;
}

.deal.swiper-slide-active .deal__info-block {
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.deal.swiper-slide-next .deal__info-block {
  -webkit-transition: all 0s ease 0.4s;
  -o-transition: all 0s ease 0.4s;
  transition: all 0s ease 0.4s;
  -webkit-transform: translate(0, -150px);
      -ms-transform: translate(0, -150px);
          transform: translate(0, -150px);
  opacity: 0;
}

.deal__decor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.deal__info-block {
  width: 577px;
  position: relative;
  z-index: 2;
  padding: 0 15px;
}

.deal__offer {
  font-family: "Mukta";
  font-weight: 800;
  font-size: 90px;
  line-height: 105.5555555556%;
  letter-spacing: 0.045em;
  color: #f3b705;
  opacity: 0.5;
  font-size: 90px;
}

.deal__title {
  font-size: 60px;
  font-size: 60px;
  margin-bottom: 15px;
}

.deal__subtitle {
  margin-bottom: 25px;
}

.subscribe {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__decor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.subscribe__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.subscribe__background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(93, 155, 201, 0.69);
}

.subscribe__info {
  position: relative;
  z-index: 2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.subscribe__title:not(:last-child) {
  margin-bottom: 15px;
}

.subscribe__subtitle {
  max-width: 400px;
  color: #ffffff;
}

.subscribe__subtitle:not(:last-child) {
  margin-bottom: 23px;
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-subscribe._error .form-subscribe__button {
  background: rgb(119, 5, 5);
}

.form-subscribe__input {
  padding: 15px;
  width: 460px;
  height: 46px;
  -webkit-box-shadow: 0px 15px 30px rgba(34, 34, 34, 0.11);
          box-shadow: 0px 15px 30px rgba(34, 34, 34, 0.11);
  border-radius: 50px 0 0 50px;
}

.form-subscribe__button {
  width: 136px;
  height: 46px;
  background: rgb(38, 74, 81);
  -webkit-box-shadow: -2px 15px 40px rgba(0, 0, 0, 0.11);
          box-shadow: -2px 15px 40px rgba(0, 0, 0, 0.11);
  border-radius: 50px;
  font-family: "Mukta";
  font-weight: 500;
  font-size: 17px;
  line-height: 172.68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.045em;
  margin-left: -20px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid transparent;
}

.form-subscribe__button:hover {
  background: rgb(11, 47, 54);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__decor {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  min-height: 200px;
  position: relative;
}

.footer__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer__background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(93, 155, 201, 0.69);
}

.footer__items {
  max-width: 1400px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 50px 15px;
  gap: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__logo svg {
  width: 95px;
  height: 43px;
  fill: #3a5b62;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__logo:not(:last-child) {
  margin-bottom: 12px;
}

.footer__logo:hover svg {
  fill: #002630;
}

.footer__text:not(:last-child) {
  margin-bottom: 12px;
}

.footer__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (37px)[4];
  grid-template-columns: repeat(4, 37px);
  gap: 10px;
}

.footer__icon {
  height: 37px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
}

.footer__icon svg {
  width: 15px;
  height: 15px;
  fill: #3a5b62;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__icon:hover {
  background: #3a5b62;
}

.footer__icon:hover svg {
  fill: #fff;
}

.footer__title {
  font-family: "Mukta";
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #264a51;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__number {
  display: block;
}

.footer__number:hover {
  text-decoration: underline;
}

.footer__email {
  word-break: break-all;
}

.footer__email:hover {
  text-decoration: underline;
}

.footer__days {
  background: #a0c7ea;
  border-radius: 7px;
  padding: 19px;
}

.footer__day {
  line-height: 171.4285714286%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__day span {
  font-weight: 600;
  color: #335e74;
}

.footer__copyright {
  background: #d3e2ef;
  text-align: center;
  font-size: 16px;
  line-height: 300%;
  letter-spacing: 0.045em;
  color: #335e74;
  padding: 10px 0;
}

.partners-footer {
  background: #d2e2ee;
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 130px));
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners-footer__item {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (min-width: 500px) {
  .footer__menu {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 991.98px) {
  .panel-body__item:hover {
    background: #002a32;
  }

  .panel-body__item:hover .panel-body__label {
    color: #fff;
  }

  .deal__info-block {
    margin-left: 158px;
  }
}

@media (max-width: 1305px) and (max-width: 767px) {
  .title {
    font-size: calc(30px + 27.2 * ((100vw - 320px) / 1305));
  }

  .subtitle {
    font-size: calc(18px + 3.4 * ((100vw - 320px) / 1305));
  }

  .wrapper._free .block {
    padding-top: calc(30px + 85 * ((100vw - 320px) / 1305));
  }

  .wrapper._free .block {
    padding-bottom: calc(20px + 34 * ((100vw - 320px) / 1305));
  }

  .wrapper._free .block__wrapper {
    gap: calc(30px + 17 * ((100vw - 320px) / 1305));
  }

  .wrapper._free .deal {
    padding-top: calc(50px + 42.5 * ((100vw - 320px) / 1305));
  }

  .wrapper._free .deal {
    padding-bottom: calc(50px + 42.5 * ((100vw - 320px) / 1305));
  }

  .wrapper._free .subscribe {
    padding-top: calc(50px + 42.5 * ((100vw - 320px) / 1305));
  }

  .wrapper._free .subscribe {
    padding-bottom: calc(50px + 42.5 * ((100vw - 320px) / 1305));
  }

  .block {
    padding-right: calc(0px + 170 * ((100vw - 320px) / 1305));
  }

  .block {
    padding-left: calc(0px + 170 * ((100vw - 320px) / 1305));
  }

  .block__body.body-left .block__image {
    margin-left: calc(40px + 41.65 * ((100vw - 320px) / 1305));
  }

  .block__body.body-right .block__image {
    margin-right: calc(40px + 41.65 * ((100vw - 320px) / 1305));
  }

  .block__category {
    font-size: calc(16px + 15.3 * ((100vw - 320px) / 1305));
  }

  .block__category {
    height: calc(50px + 166.6 * ((100vw - 320px) / 1305));
  }

  .block__category {
    width: calc(80px + 83.3 * ((100vw - 320px) / 1305));
  }

  .block__title {
    margin-bottom: calc(20px + 51 * ((100vw - 320px) / 1305));
  }

  .block__subtitle {
    margin-bottom: calc(30px + 119 * ((100vw - 320px) / 1305));
  }

  .header-main__item {
    padding: calc(10px + 17 * ((100vw - 320px) / 1305));
  }

  .panel-body__personality,
  .panel-body__social {
    gap: calc(5px + 34 * ((100vw - 320px) / 1305));
  }

  .panel-body__personality {
    margin-left: calc(100px + 255 * ((100vw - 320px) / 1305));
  }

  .panel-body__label {
    font-size: calc(10px + 10.2 * ((100vw - 320px) / 1305));
  }

  .swiper-main__info {
    margin-left: calc(40px + 527 * ((100vw - 320px) / 1305));
  }

  .deal__offer {
    font-size: calc(45px + 76.5 * ((100vw - 320px) / 1305));
  }

  .deal__title {
    font-size: calc(40px + 34 * ((100vw - 320px) / 1305));
  }

  .footer__items {
    gap: calc(30px + 34 * ((100vw - 320px) / 1305));
  }

  .partners-footer {
    gap: calc(25px + 42.5 * ((100vw - 320px) / 1305));
  }
}

@media (max-width: 991.98px) {
  .block {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .block__wrapper {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    gap: 40px;
  }
}

@media (max-width: 991.98px) and (max-width: 1305px) and (max-width: 767px) {
  .block {
    padding-top: calc(30px + 85 * ((100vw - 320px) / 1305));
  }

  .block {
    padding-bottom: calc(20px + 34 * ((100vw - 320px) / 1305));
  }

  .block__wrapper {
    gap: calc(30px + 17 * ((100vw - 320px) / 1305));
  }
}

@media (max-width: 767.98px) {
  .header-main {
    position: absolute;
    width: 165px;
    height: 100vh;
    top: 0;
    left: -100%;
  }

  .header-main._active {
    left: 0;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .panel-body {
    -ms-grid-columns: 50px 1fr 1fr;
    grid-template-columns: 50px 1fr 1fr;
  }

  .panel-body__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 20px;
    margin: 0 10px;
    position: relative;
  }

  .panel-body__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #002a32;
  }

  .panel-body__burger::before,
  .panel-body__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #002a32;
  }

  .panel-body__burger::before {
    top: 0;
    left: 0;
  }

  .panel-body__burger::after {
    bottom: 0;
    left: 0;
  }

  .panel-body__personality {
    margin-left: 0;
  }

  .form-subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .form-subscribe__input {
    width: 100%;
    border-radius: 50px;
    margin-bottom: 15px;
  }

  .form-subscribe__button {
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 580px) {
  .panel-body__personality,
  .panel-body__social {
    display: none;
  }
}

@media (max-width: 1305px) and (min-width: 767px) {
  .title {
    font-size: calc(30px + 16 * (100vw / 1305));
  }

  .subtitle {
    font-size: calc(18px + 2 * (100vw / 1305));
  }

  .wrapper._free .block {
    padding-top: calc(30px + 50 * (100vw / 1305));
  }

  .wrapper._free .block {
    padding-bottom: calc(20px + 20 * (100vw / 1305));
  }

  .wrapper._free .block__wrapper {
    gap: calc(30px + 10 * (100vw / 1305));
  }

  .wrapper._free .deal {
    padding-top: calc(50px + 25 * (100vw / 1305));
  }

  .wrapper._free .deal {
    padding-bottom: calc(50px + 25 * (100vw / 1305));
  }

  .wrapper._free .subscribe {
    padding-top: calc(50px + 25 * (100vw / 1305));
  }

  .wrapper._free .subscribe {
    padding-bottom: calc(50px + 25 * (100vw / 1305));
  }

  .block {
    padding-right: calc(0px + 100 * (100vw / 1305));
  }

  .block {
    padding-left: calc(0px + 100 * (100vw / 1305));
  }

  .block__body.body-left .block__image {
    margin-left: calc(40px + 24.5 * (100vw / 1305));
  }

  .block__body.body-right .block__image {
    margin-right: calc(40px + 24.5 * (100vw / 1305));
  }

  .block__category {
    font-size: calc(16px + 9 * (100vw / 1305));
  }

  .block__category {
    height: calc(50px + 98 * (100vw / 1305));
  }

  .block__category {
    width: calc(80px + 49 * (100vw / 1305));
  }

  .block__title {
    margin-bottom: calc(20px + 30 * (100vw / 1305));
  }

  .block__subtitle {
    margin-bottom: calc(30px + 70 * (100vw / 1305));
  }

  .header-main__item {
    padding: calc(10px + 10 * (100vw / 1305));
  }

  .panel-body__personality,
  .panel-body__social {
    gap: calc(5px + 20 * (100vw / 1305));
  }

  .panel-body__personality {
    margin-left: calc(100px + 150 * (100vw / 1305));
  }

  .panel-body__label {
    font-size: calc(10px + 6 * (100vw / 1305));
  }

  .swiper-main__info {
    margin-left: calc(40px + 310 * (100vw / 1305));
  }

  .deal__offer {
    font-size: calc(45px + 45 * (100vw / 1305));
  }

  .deal__title {
    font-size: calc(40px + 20 * (100vw / 1305));
  }

  .footer__items {
    gap: calc(30px + 20 * (100vw / 1305));
  }

  .partners-footer {
    gap: calc(25px + 25 * (100vw / 1305));
  }
}

@media (max-width: 991.98px) and (max-width: 1305px) and (min-width: 767px) {
  .block {
    padding-top: calc(30px + 50 * (100vw / 1305));
  }

  .block {
    padding-bottom: calc(20px + 20 * (100vw / 1305));
  }

  .block__wrapper {
    gap: calc(30px + 10 * (100vw / 1305));
  }
}